<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>{{.botusername}} - Home</title>
    <meta name="title" content="Remilia Scarlet">
    <meta name="description" content="Multipurpose Discord bot written in Golang.">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="icon" href="{{.botavatar}}">
</head>

<body id="page-top" data-bs-spy="scroll" data-bs-target="#mainNav" data-bs-offset="72">
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-dark" id="mainNav">
        <div class="container"><a class="navbar-brand">{{.botusername}}</a><button data-bs-toggle="collapse" data-bs-target="#navbarResponsive" class="navbar-toggler text-white bg-primary navbar-toggler-right rounded" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="/">Home</a></li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="/invite">Invite</a></li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="https://discord.gg/DyMVEWnVTQ">Discord</a></li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="/contact">Contact</a></li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="/logout">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <br /><br /><br />
    {{$guild := .guild}}
    <section class="bg-secondary text-light" align="center">
        <h1>{{$guild.Name}} Settings</h1>
        <br /><br />
        <!-- Autorole -->
        <h3>Autorole</h3>
        <div class="col-lg-4 mx-auto">
            {{if eq .settings.RoleID "nil"}}
            <form novalidate="novalidate" enctype="multipart/form-data" action="/autorole/{{$guild.ID}}" method="POST">
            <label for="select" class="form-label">Select Role</label>
            <select id="select" name="roleid" class="form-select form-select-lg col-lg-4 ">
                {{range .guild.Roles}}
                {{if eq .ID $guild.ID}}
                {{else}}
                    <option value="{{.ID}}">{{.Name}}</option>
                {{end}}
                {{end}}
            </select>
            <br />
            <div class="col-lg-4"></div>
            <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            {{else}}
            <h5 class="text-warning">Role ID: {{.settings.RoleID}}</h5>
            <form novalidate="novalidate" enctype="multipart/form-data" action="/resetautorole/{{$guild.ID}}" method="POST">
                <div class="row">
                    <div class="w-100"></div>
                    <div class="col-lg-12 text-center">
                        <div id="success"></div><button class="btn btn-primary" id="resetAutoRole" type="submit">Reset Autorole</button>
                    </div>
                </div>
            </form>
            {{end}}
            </div>
            <!-- Autorole end -->
            <br />
            <!-- Leave Channel -->
            <h3>Leave Channel</h3>
            <div class="col-lg-4 mx-auto">
            {{if eq .settings.LeaveChannelID "nil"}}
            <form novalidate="novalidate" enctype="multipart/form-data" action="/leavechannel/{{$guild.ID}}" method="POST">
            <label for="select" class="form-label">Select Channel</label>
            <select id="select" name="channel" class="form-select form-select-lg col-lg-4 ">
                {{range .channels}}
                {{if eq .ID $guild.ID}}
                {{else}}
                    <option value="{{.ID}}">{{.Name}}</option>
                {{end}}
                {{end}}
            </select>
            <br />
            <div class="col-lg-4"></div>
            <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            {{else}}
            <h5 class="text-warning">Channel ID: {{.settings.LeaveChannelID}}</h5>
            <form novalidate="novalidate" enctype="multipart/form-data" action="/resetleavechannel/{{$guild.ID}}" method="POST">
                <div class="row">
                    <div class="w-100"></div>
                    <div class="col-lg-12 text-center">
                        <div id="success"></div><button class="btn btn-primary" id="resetLeaveChannel" type="submit">Reset Leave Channel</button>
                    </div>
                </div>
            </form>
            {{end}}
        </div>
        <!-- Leave channel end -->
        <br />
        <!-- Leave Message -->
        <h3>Leave Message</h3>
        <div class="col-lg-4 mx-auto">
        {{if eq .settings.LeaveMessage "nil"}}
        <form novalidate="novalidate" enctype="multipart/form-data" action="/leavemessage/{{$guild.ID}}" method="POST">
            <textarea class="form-control" type="text" id="leavemessage" name="leavemessage" placeholder="New Message (Placeholders {mention}, {username})" required="true"></textarea><small class="form-text text-danger flex-grow-1 help-block lead"></small>
        <br />
        <div class="col-lg-4"></div>
        <button type="submit" class="btn btn-primary">Submit</button>
        </form>
            {{else}}
            <h5 class="text-warning">Message: {{.settings.LeaveMessage}}</h5>
            <form novalidate="novalidate" enctype="multipart/form-data" action="/resetleavemessage/{{$guild.ID}}" method="POST">
                <div class="row">
                    <div class="w-100"></div>
                    <div class="col-lg-12 text-center">
                        <div id="success"></div><button class="btn btn-primary" id="resetLeaveMessage" type="submit">Reset Leave Message</button>
                    </div>
                </div>
            </form>
            {{end}}
        </div>
        <!-- Leave message end -->
        <br />
        <!-- Log -->
        <h3>Log</h3>
        <div class="col-lg-4 mx-auto">
        {{if eq .settings.LogID "nil"}}
        <form novalidate="novalidate" enctype="multipart/form-data" action="/log/{{$guild.ID}}" method="POST">
        <label for="select" class="form-label">Select Channel</label>
        <select id="select" name="logchannel" class="form-select form-select-lg col-lg-4 ">
            {{range .channels}}
            {{if eq .ID $guild.ID}}
            {{else}}
                <option value="{{.ID}}">{{.Name}}</option>
            {{end}}
            {{end}}
        </select>
        <br />
        <div class="col-lg-4"></div>
        <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        {{else}}
        <h5 class="text-warning">Log ID: {{.settings.LogID}}</h5>
        <form novalidate="novalidate" enctype="multipart/form-data" action="/resetlog/{{$guild.ID}}" method="POST">
            <div class="row">
                <div class="w-100"></div>
                <div class="col-lg-12 text-center">
                    <div id="success"></div><button class="btn btn-primary" id="resetLog" type="submit">Reset Log</button>
                </div>
            </div>
        </form>
            {{end}}
        </div>
        <!-- Log end -->
    </section>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/script.min.js"></script>
</body>
</html>
